<!doctype html>
<html>
    <head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}">
        {% if title %}
        <title>{{ title }} - Communication Systems Engineering</title>
        {% else %}
        <title>Welcome to cyberdeck.ch</title>
        {% endif %}
    </head>
    <body>
        <div><a href="/index">Home</a></div>
        <div><a href="/goal">Goal</a></div>
        <div><a href="/software">Software</a></div>
        <div><a href="/hardware">Hardware</a></div>
        <div><a href="/hardware">Services</a></div>
        <div><a href="/personal">Personal</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>

